 .u-section-1 {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-image: url("images/fr.png");
  background-size: 105%;
}

.u-section-1 .u-sheet-1 {
  min-height: 469px;
}

.u-section-1 .u-text-1 {
  margin: 287px 110px 0;
}

.u-section-1 .u-text-2 {
  width: 695px;
  margin: -10px auto 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 255px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 257px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 94px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 564px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 43px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 0 43px;
}.u-section-3 .u-sheet-1 {
  min-height: 747px;
}

.u-section-3 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-3 .u-accordion-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 319px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 348px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-image-1 {
  width: 533px;
  height: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 405px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 909px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-3 {
  width: 909px;
  margin: 58px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 46px;
  height: 46px;
  margin: -38px auto 59px 402px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-icon-1 {
    margin-left: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 191px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 120px;
  }
}