.u-section-1 .u-sheet-1 {
  min-height: 1402px;
}

.u-section-1 .u-image-1 {
  width: 113px;
  height: 113px;
  margin: 120px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 8px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  width: 420px;
  height: 42px;
  margin: -35px auto 60px 103px;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 391px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 81px;
  }

  .u-section-1 .u-text-4 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 194px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 34px;
    margin-top: -21px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 405px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 909px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-3 {
  width: 909px;
  margin: 58px auto 0;
}

.u-section-2 .u-icon-1 {
  width: 46px;
  height: 46px;
  margin: -38px auto 59px 402px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-icon-1 {
    margin-left: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 191px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 120px;
  }
}